.encabezado {
    background-color: red;
    padding: 0;
    margin: 0;
    box-shadow: 1px 1px 10px rgb(180, 180, 180);

}

.titulo-ban {}

.logo-ban {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
    float: left;
}

.encabezado h1 {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

}

.encabezado h2 {
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.encabezado img {}



.imagen-ban {
    height: 500;
}